* text=auto eol=lf

# force CRLF line endings for VMT files and sound scripts
[attr]gillbates text eol=crlf
*.vmt gillbates
**/backup/scripts/*.txt gillbates

# https://github.com/github-linguist/linguist/blob/main/docs/overrides.md
*.res linguist-language=resource-list

doc/ linguist-documentation

**/backup/** linguist-vendored
uv.lock      linguist-vendored
