name: Build and publish release

on:
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch:
    inputs:
      draft:
        description: 'Is this a draft?'
        type: boolean
        default: true
        required: false
      generate-release-notes:
        description: 'Generate release notes?'
        type: boolean
        default: true
        required: false

permissions:
  contents: write

jobs:
  build-release:
    runs-on: ubuntu-latest

    environment: |
      ${{ inputs.draft }}
      ${{ inputs.generate_release_notes }}

    steps:
      - name: Chekout code
        uses: actions/checkout@v5
        with:
          ref: ${{ github.ref }} # required, otherwise we checkout to HEAD

      - name: Set up python
        uses: actions/setup-python@v6
        with:
          python-version: '>=3.11'

      - name: Create build directory
        run: mkdir -p build/casual-preloader

      - name: Download embeddable Python
        run: |
          curl -L -o python.zip https://www.python.org/ftp/python/3.12.8/python-3.12.8-embed-amd64.zip
          unzip python.zip -d build/casual-preloader/
          # Add site-packages to path for embeddable Python
          printf 'python312.zip\n.\nLib\nLib\\site-packages\n' > build/casual-preloader/python312._pth

          curl -L -o build/casual-preloader/pip.pyz https://bootstrap.pypa.io/pip/pip.pyz

      - name: Build application
        run: |
          python scripts/build.py --target_dir build/casual-preloader <<< "y"
          find build -name '__pycache__' -exec rm -rf '{}' \; -prune
          cp scripts/RUNME.bat build/

      - name: Create release archive
        run: cd build && zip -r "../casual-preloader-${{ github.ref_name }}.zip" .

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        if: env.ACT != 'true'
        with:
          name: "casual-preloader-${{ github.ref_name }}"
          path: build
          if-no-files-found: error
          compression-level: 9
          overwrite: true
          include-hidden-files: true

      - name: Copy artifact
        if: env.ACT == 'true'
        run: |
          mkdir -p /tmp/artifacts
          rm -rf /tmp/artifacts/${{ github.ref_name }}
          cp  -av build /artifacts/${{ github.ref_name }}

      - name: Create GitHub Release
        if: env.ACT != 'true'
        uses: softprops/action-gh-release@v2
        with:
          files: "casual-preloader-${{ github.ref_name }}.zip"
          draft: ${{ inputs.draft == '' && true || inputs.draft }}
          generate_release_notes: ${{ inputs.generate-release-notes }}
